@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


$font-stack: "Montserrat", sans-serif;
$primary-color: #ffffff;
$second-color: #143357;
$background-color: #E5E5E5;