@import './variaveis';

.header {
    align-items: start;
    display: flex;
    background-color: $background-color;
    .logo {
        justify-content: flex-start;
        display: inline;
        margin: 0.5em;
        width: 15%;
        height: 35%;
    }
    .container{
        margin: 0%;
        padding-top: 3em;
        
        h1 {

            font-family: $font-stack;
            color: $second-color;
            font-size: 96px;
            margin: 0px;
            text-transform: uppercase;

        }
        h2 {
            font-family: $font-stack;
            font-size: 34px;
            text-transform: uppercase;

        }
    }
}